{% extends 'base.html' %} 
{% load static %}  {% block content %}
    <h1 class="mb-4">Lista de Pokemones Iniciales</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for pokemon in pokemones %}
        <div class="col">
            <div class="card h-100 shadow-sm border-info">
                
                <div class="card-img-top p-2 text-center bg-light">
                    <img 
                        src="{% static 'pokedex/'|add:pokemon.imagen_nombre %}" 
                        alt="Imagen de {{ pokemon.nombre }}" 
                        class="img-fluid" 
                        style="height: 100px; object-fit: contain;"
                    >
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ pokemon.nombre }} (#{{ pokemon.id }})</h5>
                    <p class="card-text">Tipo: <span class="badge bg-secondary">{{ pokemon.tipo }}</span></p>
                    <a href="{% url 'detalle_pokemon' pokemon.id %}" class="btn btn-sm btn-outline-info">Ver Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}